
@{
    ViewData["Title"] = "HomePage";
}


<head>
    <style>
        td {
            padding: 15px;
            padding-right: 50px;
        }
    </style>
</head>

<h1 style="text-align:center"><b>Мениджър за хотелски резервации</b></h1>