
@{
    ViewData["Title"] = "HomePage";
}


<head>
    <style>
        td {
            padding: 15px;
            padding-right: 50px;
        }
    </style>
</head>

<h1 style="text-align:center">Welcome to <b>Hotel Reservation Manager</b></h1>